section.article{
    color: var(--white);
    
    div.container{
    }

    .two-col-img{
        padding: 1rem;
        display: flex;
        margin: auto;
    }

    &  p {
        padding: 2rem 0 ;
    }
}
