<section class="services">
  <div class="row no-gutters align-items-start">
    <div class="card">
      <img
        src="{{
          'assets/img/home-cards/craiyon_033543_water_fall_leaving_laptop_screen_br_.png'
        }}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5>Computer Repair</h5>
        <hr />
        <div class="card-img-text t-black">
          <p>
            Computer repair text 
           </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/earth_surrounded_by_router.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay t-black">
        <h5>Network Setup</h5>
        <hr />
        <div class="card-img-text">
          <p>
              Example text that should extend more than one sentence.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters align-items-end">
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/servers open space.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay t-black">
        <h5>Website Making</h5>
        <hr />
        <div class="card-img-text">
          <p>
              Example text that should extend more than one sentence.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/laptop_fire.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h5>Backup Solutions</h5>
        <hr />
        <div class="card-img-text">
          <p>
              Example text that should extend more than one sentence.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
