<section class="services">
  <div class="row no-gutters align-items-start">
    <div class="card">
      <img
        src="{{
          'assets/img/home-cards/craiyon_033543_water_fall_leaving_laptop_screen_br_.png'
        }}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h4>Computer Repair</h4>
        <hr />
        <div class="card-img-text t-black">
          <p>
            If you need computer repairs, an upgrade, or a redesign of your
            entire office computer system, Singletonology can help.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/earth_surrounded_by_router.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay t-black">
        <h4>Network and VoIP Setup</h4>
        <hr />
        <div class="card-img-text">
          <p>
            We are committed to your network and VoIP phones running optimally,
            so you can remain focused on your family or company's profitability.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters align-items-end">
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/servers open space.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay t-black">
        <h4>Website Making</h4>
        <hr />
        <div class="card-img-text">
          <p>
            Our core competencies lie in programming and building the best
            web-based solutions from the ground, up. We believe your web
            presence will be the solution to others.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ 'assets/img/home-cards/laptop_fire.png' }}"
        alt="Card image"
      />
      <div class="card-img-overlay">
        <h4>Backup Solutions</h4>
        <hr />
        <div class="card-img-text">
          <p>
            Protect all your valuable documents, pictures, and music with a
            simple-to-use product..
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
