/* FONT-COLOR */
:host {
  .card-img-overlay > p,
  h5 {
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .card-img-overlay > hr {
    border: 2px solid var(--secondary-color);
  }

  /* BACKGROUND-COLOR */

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
  }

  /* Styles */
  section {
    margin: auto;
    max-width: fit-content;

    & .card-img-overlay {
      > h5 {
        padding-top: 1rem;
      }
      & p {
        margin: 0.6rem;
      }
      & .card-img-text {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0.6rem 0;
      }
    }
  }
  .t-black > h5{
      color: whitesmoke;
  }
  .grid-images,
  .card {
    background-color: black;
    width: 20rem;
    border: 2rem;
    border-radius: 10px;
    position: relative;
    text-align: center;
    opacity: 0.8;
    border: 1px solid var(--secondary-color);
    margin: .2rem;
}
}
