section.looking-for-solution {
  background-color: var(--white);
  border-style: solid;
  border-color: black;
  border-width: 0.1rem 0;
  padding: 0.3rem 0;
  margin: 2rem auto;

  > h1, h2, h3, h4, p{
    color: var(--prim-triadic-blue);
  }

  > .center {
    text-align: center;
    margin: 1.2rem 0;
  }

  > .container {
    margin: 2.2rem auto 0 auto;
    height: auto;
  }

  & h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

  & p {
    height: 10rem;
  }

  & .col-6 {
    text-align: center;
    margin: .5rem 0;

    > h4 {
      text-transform: uppercase;
    }

    > p {
      height: inherit;
      padding: 0 1rem;
      margin: 0;
    }

    // > .fake-button {
    //   background-color: var(--black);
    //   width: max-content;
    //   margin: 0 auto 2rem auto;
    //   padding: 0.2rem 1rem;
    //   border-radius: 1.5rem / 1.5rem;
    // }
  }
}
