<section class="looking-for-solution">
  <div class="center">
    <h3>Looking for computer work in Columbus?</h3>
  </div>
  <hr class="dark" />
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4>computer Services for all your needs</h4>
        <p>
          Have a computer problem? We have solutions! Call us for your computer
          services for home or business.
        </p>
      </div>
      <div class="col-6">
        <h4>Manage IT Equipment</h4>
        <p>
          Find out how our managed IT services can save your business headaches
          and money. Learn more about our full range of IT services for
          business.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>Computer Setup and Install</h4>
        <p>
          New computer? Forget struggling with all those wires and wi-fi codes!
          We will handle computer setup and installation for you.
        </p>
      </div>
      <div class="col-6">
        <h4>h4-4</h4>
      </div>
    </div>
  </div>
</section>
