<section class="looking-for-solution">
  <div class="center">
    <h3>Looking for computer work in Columbus?</h3>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4>computer Services for all your needs</h4>
        <p>
          Have a computer problem? We have solutions! Call us for your computer
          services for home or business.
        </p>
        <div class="fake-button">
            <a href="">button</a>
        </div>
      </div>
      <div class="col-6">
        <h4>h4-2</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>h4-3</h4>
      </div>
      <div class="col-6">
        <h4>h4-4</h4>
      </div>
    </div>
  </div>
</section>
