/* FONT TYPE */
:root {
  --white: rgb(245, 245, 245);
  --white-alpha: rgba(245, 245, 245, 0.8);
  --prim-green: rgba(3, 124, 9, 0.839);
  --prim-green-sec: rgb(3, 124, 70);
  --prim-green-thir: rgb(3, 118, 124);

  --prim-triadic-blue: rgb(9, 3, 124, 1);
  --prim-triadic-red: rgb(124, 9, 3);
  --prim-triadic-light-red: rgb(255, 171, 166);

  --secondary: rgb(100, 149, 237);
  --black: rgba(0, 0, 0, 0.8);
  --black-gradient: rgba(34, 34, 34, 0.8);
  --black-standard: rgba(0, 0, 0, 0.6);
  --gray: rgba(128, 128, 128);
  // --dark-blue: rgba(9, 3, 124, 1);

  html {
    min-height: 100%;
  }

  body {
    min-width: 100%;
    background-attachment: fixed; /*edit*/
    background-repeat: no-repeat !important;
    background: linear-gradient(
        0deg,
        var(--prim-triadic-blue) -1%,
        var(--prim-green) 100%
      )
      var(--prim-triadic-blue);
    color: var(--white);
  }

  hr {
    width: 15%;
    margin: 2rem auto;
  }

  .title {
    color: var(--white);
    font-weight: 600;
  }

  .container-fluid {
    display: block;
    min-height: 100%;
  }

  /* 
    Link Styling
  */
  .light{
    color: var(--white-alpha);

  }

  a.light, a.light:visited{
    text-decoration: underline dashed -1px;
    color: var(--white-alpha);
  }

  a.light:hover {
    text-decoration: underline solid -1px;
  }

  .dark{
    color: var(--prim-triadic-blue);
  }

  a.dark, a.dark:visited{
    color: var(--black);
    text-decoration: underline dashed -1px;
  }

  a.dark:hover{
    text-decoration: underline solid -1px;
  }
}
