<section class="purpose row">
    <div class="col-12 section-title">
      <h2>Singletonology</h2>
      <h3 class="subtitle">Discover your tech.</h3>
    </div>
    <div class="col-12">
      <p class="text-center">
        Based In Pickerington, Ohio, we offer in-home computer services in Central
        Ohio and the surrounding areas. Our expert computer technicians offer a flat rate and free estimates on a
        wide range of computer repair services.
      </p>
    </div>
  </section>
  <hr />
<app-card-images></app-card-images>
  