<section class="purpose row">
    <div class="col-12 section-title">
      <h1>Singletonology</h1>
      <h2 class="subtitle">Discover your tech.</h2>
    </div>
    <div class="col">
      <h3 class="text-center">
        Based In Pickerington, Ohio, we offer in-home computer services in Central
        Ohio and the surrounding areas. Our expert computer technicians offer a 
        flat rate and free estimates on a wide range of computer repair services.
      </h3>
    </div>
  </section>
  <hr />
<app-card-images></app-card-images>
<hr />
<app-two-column-article></app-two-column-article>
<p>
  <a href="https://tucson.computer/" target="_blank">tucson.computer</a>
</p>
<p>
  <a href="https://www.atlanticcomputerspecialists.com/" target="_blank">atlanticcomputerspecialists</a>
</p>
<p>
  <a href="https://www.quackit.com/html/html_generators/dummy_text_generator.cfm" target="_blank">Dummy Text</a>
</p>
<p>
  <a href="https://picsum.photos/" target="_blank">Random Photo</a>
</p>